services:
  backend:
    build: .
    container_name: iot_backend
    restart: always
    depends_on:
      - db
      - mosquitto
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MQTT_BROKER_URL: ${MQTT_BROKER_URL}
    ports:
      - "3000:3000"

  db:
    image: mysql:8.0
    container_name: mysql_iot
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - mysql_data:/var/lib/mysql

  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    restart: always
    ports:
      - "1883:1883"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_config:/mosquitto/config

volumes:
  mysql_data:
  mosquitto_data:
  mosquitto_config: